<ion-content class="ion-padding">

  <div class="profile-header">
    <div class="profile-image-container">
      <img src="../../../assets/imgs/pexels-rachel-claire-6762426.jpg" class="profile-image">
    </div>
    <h1>{{ user.username }}</h1>
    <div class="user-info">
      <p class="info-label">Email</p>
      <p class="info-value">{{ user.email || 'Pepe'}}</p>
    </div>
  </div>

  <div class="section-header">
    <h2>Mis Viajes</h2>
  </div>

  <div class="list-viajes">
    <div class="travel-card">
      <div class="card-image-container">
        <img src="../../../assets/imgs/pexels-rachel-claire-6762426.jpg" alt="Viaje">
        <div class="price-badge">$820</div>
      </div>

      <div class="card-content">
        <h3>Tarjeta viaje 1</h3>
        <p class="travel-dates">
          <ion-icon name="calendar-outline"></ion-icon>
          16 July-26 July
        </p>
        <div class="rating">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <span>4.8</span>
        </div>
        <div class="participants">
          <div class="avatar-group">
            <img src="https://i.pravatar.cc/150?img=1" alt="avatar">
            <img src="https://i.pravatar.cc/150?img=2" alt="avatar">
            <img src="https://i.pravatar.cc/150?img=3" alt="avatar">
          </div>
          <span>24 Person Joined</span>
        </div>
      </div>
    </div>

    <div class="travel-card">
      <div class="card-image-container">
        <img src="../../../assets/imgs/pexels-rachel-claire-6762426.jpg" alt="Viaje">
        <div class="price-badge">$720</div>
      </div>

      <div class="card-content">
        <h3>Bukita Rayandro</h3>
        <p class="travel-dates">
          <ion-icon name="calendar-outline"></ion-icon>
          20 Sep-29 Sep
        </p>
        <div class="rating">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <span>4.3</span>
        </div>
        <div class="participants">
          <div class="avatar-group">
            <img src="https://i.pravatar.cc/150?img=4" alt="avatar">
            <img src="https://i.pravatar.cc/150?img=5" alt="avatar">
            <img src="https://i.pravatar.cc/150?img=6" alt="avatar">
          </div>
          <span>24 Person Joined</span>
        </div>
      </div>
    </div>

    <div class="travel-card">
      <div class="card-image-container">
        <img src="../../../assets/imgs/pexels-rachel-claire-6762426.jpg" alt="Viaje">
        <div class="price-badge">$942</div>
      </div>

      <div class="card-content">
        <h3>Cluster Omega</h3>
        <p class="travel-dates">
          <ion-icon name="calendar-outline"></ion-icon>
          14 Nov-22 Nov
        </p>
        <div class="rating">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <span>4.9</span>
        </div>
        <div class="participants">
          <div class="avatar-group">
            <img src="https://i.pravatar.cc/150?img=7" alt="avatar">
            <img src="https://i.pravatar.cc/150?img=8" alt="avatar">
            <img src="https://i.pravatar.cc/150?img=9" alt="avatar">
          </div>
          <span>26 Person Joined</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>