<ion-content>
  <h1>dedeee</h1>
  <div>
    <h1>Create a trip</h1>
    <form>
      <input type="text" placeholder="Trip name">
      <input type="text" placeholder="Trip description">

      <input type="date" placeholder="Trip start date">
      <input type="date" placeholder="Trip end date">

      <select>
        <option value="">Select a country</option>
        @for (country of countries; track country.country_id) {
        <option [value]="country.country_id">{{ country.name }}</option>
        }
      </select>

    </form>
  </div>
</ion-content>