<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <!-- Name Input -->
  <div class="input-group">
    <ion-input type="text" formControlName="username" placeholder="Leonardo Smith" required>
    </ion-input>
  </div>

  <!-- Email Input -->
  <div class="input-group">
    <ion-input type="email" formControlName="email" placeholder="www.uihut@gmail.com" required>
    </ion-input>
  </div>

  <!-- Password Input -->
  <div class="input-group">
    <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="* * * * * * * * *"
      required>
    </ion-input>
    <button type="button" class="eye-button" (click)="togglePassword()">
      <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
    </button>
  </div>

  <!-- Password Validation Text -->
  <p class="validation-text">Password must be 8 character</p>

  <!-- Sign Up Button -->
  <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!registerForm.valid">
    Sign Up
  </ion-button>
</form>