<ion-content class="ion-padding">
  <div class="home-container">
    <h1 class="ion-text-center home-title">
      Aurevia
    </h1>
    <p class="ion-text-center">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque
      doloribus asperiores officia.
    </p>
    <dotlottie-wc src="assets/imgs/loading.lottie" style="width: 250px; height: 250px;" autoplay loop></dotlottie-wc>
    <div class="button-container">
      <ion-button routerLink="/login" color="primary">Login</ion-button>
      <ion-button routerLink="/register" color="primary">Register</ion-button>

    </div>
  </div>
</ion-content>