<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <!-- Email Input -->
  <div class="input-group">
    <ion-input type="email" formControlName="email" placeholder="www.uihut@gmail.com" required>
    </ion-input>
  </div>

  <!-- Password Input -->
  <div class="input-group">
    <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="* * * * * * * * *"
      required>
    </ion-input>
    <button type="button" class="eye-button" (click)="togglePassword()">
      <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
    </button>
  </div>

  <!-- Forget Password Link -->
  <div class="forget-password">
    <a routerLink="/forgot-password">Forget Password?</a>
  </div>

  <!-- Sign In Button -->
  <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!loginForm.valid">
    Sign In
  </ion-button>
</form>